@* @model EventsManagingSystem.Models.Event
 *@

 @model EventVM

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Event.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Event.Name)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Description)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Event.Description)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Event.EventDate)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Event.EventDate)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Duration)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Event.Duration)
        </dd>
        <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Event.Image)
        </dt>
        <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.Event.Image)
        </dd>
            <table class="table">
                <tr>
                    <th style="font-size: 1.2em; font-weight: bold;">Creators</th>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            @foreach (var creator in Model.Creators)
                            {
                                <div class="col-md-4 mb-3">
                                   @*  <a asp-action="ActorInfo" asp-route-actorId="@actor.Id" class="card-link"> *@
                                        <div class="card">
                                            <div class="card-body">
                                                <h5 class="card-title">@creator.Name</h5>
                                            </div>
                                        </div>
                                   @*  </a> *@
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </table>


            <table class="table">
                <tr>
                    <th style="font-size: 1.2em; font-weight: bold;"> Participants</th>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            @foreach (var participant in Model.Participants)
                            {
                                <div class="col-md-4 mb-3">
                                    @*  <a asp-action="ActorInfo" asp-route-actorId="@actor.Id" class="card-link"> *@
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">@participant.Name</h5>
                                        </div>
                                    </div>
                                    @*  </a> *@
                                </div>
                            }
                        </div>
                    </td>
                </tr>
            </table>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location.Address)
        </dd>
    </dl>
</div>
<div>
   @*  <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> | *@
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
