@* @model EventsManagingSystem.Models.Event
 *@

@model EventVM

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Event.Name" class="control-label"></label>
                    <input asp-for="Event.Name" class="form-control" />
                    <span asp-validation-for="Event.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.Description" class="control-label"></label>
                    <input asp-for="Event.Description" class="form-control" />
                    <span asp-validation-for="Event.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Event.EventDate" class="control-label"></label>
                    <input asp-for="Event.EventDate" class="form-control" />
                    <span asp-validation-for="Event.EventDate" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Event.Duration" class="control-label"></label>
                    <input asp-for="Event.Duration" class="form-control" />
                    <span asp-validation-for="Event.Duration" class="text-danger"></span>
                </div>
                @* <div class="form-group">
                <label asp-for="Event.LocationId" class="control-label"></label>
                <select asp-for="Event.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                </div> *@
                <div class="form-group">
                    <label asp-for="Event.LocationId" class="control-label"> Location </label>
                    <select asp-for="Event.LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                </div>

                <div class="form-group">
                    <label asp-for="Creators" class="control-label"> Creators </label>
                    <select asp-for="Creators" class="form-control" asp-items="ViewBag.Creators" multiple="multiple" size="2">

                        @foreach (var item in ViewData["Creators"] as SelectList)
                        {
                            var creatorId = Convert.ToInt32(item.Value);

                            if (Model.Creators.Any(creator => creator.Id == creatorId))
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }

                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Participants" class="control-label"> Participants </label>
                    <select asp-for="Participants" class="form-control" asp-items="ViewBag.Participants" multiple="multiple" size="2">

                        @foreach (var item in ViewData["Participants"] as SelectList)
                        {
                            var participantId = Convert.ToInt32(item.Value);

                            if (Model.Creators.Any(participant => participant.Id == participantId))
                            {
                                <option value="@item.Value" selected>@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }

                    </select>
                </div>

                <div class="form-group">
                    <label asp-for="Event.Image" class="control-label"> Image </label>
                    <input type="file" name="Image" accept="image/*" class="form-control" />
                    <span asp-validation-for="Event.Image" class="text-danger"></span>
                </div>
              
                <input type="hidden" asp-for="Event.Id" />

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

</body>
</html>
