@model IEnumerable<EventsManagingSystem.Models.Event>

@{
    Layout = "_Layout";
}

<div class="content">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1 class="page-header"><strong>Events</strong></h1>
        <div class="ml-auto">
            <a asp-action="Create" class="btn btn-primary rounded-pill">Create New Event</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4 mb-3">
                    <div class="card event-card" style="background-image: url('data:image;base64,@Convert.ToBase64String(item.Image)');">
                        <div class="event-card-content">
                            <div class="overlay">
                                <h5 class="card-title"><strong>@item.Name</strong></h5>
                                <p class="card-text"><strong>Description: </strong>@item.Description</p>
                                <p class="card-text"><strong>Date:</strong> @item.EventDate.ToShortDateString()</p>
                                <p class="card-text"><strong>Duration: </strong>@item.Duration hours</p>
                                <p class="card-text"><strong>Location: </strong>@item.Location.Address</p>
                                <div class="btn-group mt-2" role="group" aria-label="Actions">
                                    <a class="btn btn-secondary rounded-pill mr-1" asp-action="Details" asp-route-id="@item.Id">Details</a>
                                    <a class="btn btn-primary rounded-pill mr-1" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-danger rounded-pill" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
